
/* Font styles */
h1,h2, h3, p, li, button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3 {
    color: #41337A;
}

p, li {
    font-size: 18px;
}

.wrapper-heading {
    color: #41337A;
}

/* Style Photo */
img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

/* Div spacing  */

.project-wrapper, .contact-wrapper {
    padding-top: 25px;
}

/* Center the entire page and other elements */
div {
    text-align: center;
}

ul {
    
    display: flex;
    justify-content: center;
    }
    
    li {
    display: inline-block;
    list-style-type: none;
    }

/* Styling for the project headers */
    .project-box p {
    text-decoration: underline;
    text-decoration-color: #41337A;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}

/* Button styles */
button {
    padding: 8px 20px 8px 20px;
    border-radius: 6px;
    background-color: #41337A;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/* Contact info styles */
.contact-icons img {
    width: 65px;
    height: 50px;
    padding-left: 30px;
}

/* Project image style */
.project-img {
    width: 270px;
    height: 270px;
    
}
.project-img-box {
    padding-top: 0;
}
