/* Body styles */
body {
    background-color: #ffffff;
    margin: 0 ;
    padding: 0 ;
    font-family: 'Raleway', sans-serif;
}

/* Center the entire page and other elements */
div {
    text-align: center;
    padding: 0;
    margin: 0;
}


/* Font styles */

h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li, button {
    font-size: 16px;
    text-decoration: none;
}

h1, h2, h3 {
    color: #41337A;
}



/* Header */
header {
    margin-top: 0;
}

.navbar {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}

.header-logo {
    flex: 1 0 0%;
    position: relative;
    right: 100px;
    bottom: 25px;
    width: 80px;
    height: 50px;
}

.header-items {
    display: inline-flex;
    width: 70%;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.header-items h4 {
    position: relative;
    left: 380px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;
}

#blog {
        padding: 10px 20px 10px 20px;
        position: relative;
        bottom: 10px;
        background-color: #41337A;
        color: white;
        border-radius: 8px;
}

#blog a {
    font-size: 14px;
        text-decoration: none;
}


.fa-solid {
    padding-left: 5px;
}

/* Hero styles */

.hero {
    margin-top: 20px;
    padding-top: 20px;
    /* background-color: #faedcd; */
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

.hero h4 {
    font-weight: bold;
    font-size: 20px;
}

.hero p {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
}

#desc-link {
    color: black;
    font-weight: bold;
}

hr {
    width: 60%;
    background-color: gainsboro;
    height: 1px;
    border: none;
}

/* Project Styles */
.project-wrapper {
    /* background-color: #ccd5ae; */
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 40px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 0.9rem;
}

.project-box {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 8px;
    transition: 0.4s ease-in-out;
    cursor: pointer; 
}

.project-box p {
    font-size: 16px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-box h4{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-container img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}



.project-box a {
    color: white;
}

.project-wrapper h3 {
    font-weight: bold;
    font-size: 28px;
}

.wrapper-heading {
    color: black;
}

/* Contact Styles */
footer.contact-wrapper {
    min-width: 100%;
    max-width: 100%;
    height:auto;  
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

footer h3 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.contact-icons img {
    width: 25px;
    height: 50px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

/* Style Photo */
img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Button styles */
button {
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.project-btn {
    padding: 8px 20px 8px 20px;
    border-radius: 6px;
    background-color: #41337A;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.more-btn {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 80px;
}

/* Laptop Width Sizes: p & li */
/* @media (max-width: 480px) {
    p, li {
        padding-right: 15px;
        padding-left: 15px;
        line-height: 1.5;
    }
} */


/* Laptop Width Sizes: p & li */
/* @media (min-width: 1024px) {
    p, li {
        padding-right: 300px;
        padding-left: 300px;
        line-height: 1.5;
    }
} */





