/* Body styles */
body {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 auto;
}

/* Font styles */

h1 {
    font-size: 70px;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 40px;;
}

h3 {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

p, li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    color: #41337A;
}

p, li, a {
    font-size: 18px;
}

/* Laptop Width Sizes: p & li */
@media (max-width: 480px) {
    p, li {
        padding-right: 5px;
        padding-left: 5px;
        line-height: 1.5;
    }
}


/* Laptop Width Sizes: p & li */
@media (min-width: 1024px) {
    p, li {
        padding-right: 50px;
        padding-left: 50px;
        line-height: 1.5;
    }
}

.wrapper-heading {
    color: #41337A;
}

/* Style Photo */
img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

/* Div spacing  */

.project-wrapper, .contact-wrapper {
    padding-top: 25px;
}

/* Center the entire page and other elements */
div {
    text-align: center;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
    }
    
li {
    display: inline-block;
    list-style-type: none;
    }

.project-box {
    padding-bottom: 20px;
}

/* Styling for the project headers */
.project-box a {
    text-decoration: underline;
    text-decoration-color: #41337A;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}

.project-box a:link {
    color: #41337A;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}

.project-box a:visited {
    color: #41337A;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}

.project-box a:hover {
    color: #41337A;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}

.project-box a:active {
    color: #41337A;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}

/* Button styles */
button {
    padding: 8px 20px 8px 20px;
    border-radius: 6px;
    background-color: #41337A;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

/* Contact info styles */
.contact-icons img {
    width: 25px;
    height: 50px;
    text-align: center;
    padding-right: 20px;
}

/* Project image style */
.project-img {
    width: 270px;
    height: 270px;
    
}
.project-img-box {
    padding-top: 0;
}

